:root {
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    --Green: hsl(75, 94%, 57%);
}

body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--Off-Black);
}

.cuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 300px;
    background-color: var(--DarkGrey);
    margin: 100px auto;
    border-radius: 20px;
}